.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 20px;
}

.section {
  margin: 20px;
  padding: 20px;
  border: 1px silver solid;
  overflow-x: auto;
  white-space: nowrap;
}

.blue {
  color: #00aacc;
}

.highlight {
  /* background: #777; */
  color: #00aacc;
  /* border-radius: 4px; */
  padding: .1rem .4rem;
}

tr:nth-child(even) {
  background: #eee;
}